@{
    ViewBag.Title = "Quizzical Administration";
}

<h2>@ViewBag.Title</h2>

<h3>@Html.ActionLink("Quizzes", "Index", "Quizzes")</h3>
<h3>@Html.ActionLink("Questions", "Index", "Questions")</h3>
<h3>@Html.ActionLink("Answers", "Index", "Answers")</h3>
<h3>@Html.ActionLink("Sessions", "Index", "QuizSessions")</h3>
<h3>@Html.ActionLink("Users", "Index", "Users")</h3>